{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block titleblock %}
About Me | Jason Liu
{% endblock %}
{% block body_block %}
<div class="content">
  <header class="content">
    <h1>Hi, Jason here.</h1>
    <p class="desc"> Currently, I am a student studying Scientific Computation/Applied Mathematics with some Statistics and Physics on the side. Before I transfered into the University of Waterloo's Math Degree program I studied Mathematical Physics, something I am still very passionate about. It was my love of physics and my ignorance that lead me to learn what it was that I wanted to do with my life. As it turns out, the idea of using and applying the tools from mathematics and statistics to build predictive models for anything that I care about. <br><br> <i>Its a shame that also sounds like marketing fluff...  Something about Big Data and Powerful Metrics...</i> </p></header>

    <p> I'm almost done my current work term with the Strategic Planning and Communications division at Canada's national laboratory for particle and nuclear physics <a href="http://triumf.ca">TRIUMF.</a> There my responsibility involves designing marketing material, expanding the graphic support of the lab, archiving efforts, designing and organizing conferences among other outreach events. Not only is research important but I believe that connecting the science with the public is just as important. Also, getting paid to tell people about all the cool sh*t that goes on here is really really fun. If I could, I'd love to come back again as a research assistant.</p>
</div>
{% endblock %}
