{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block titleblock %}{{entry.title|title}} | Jason Liu {%endblock%}

{% block body_block %}
{% for term in terms %}
 <div class="content">
    <header class="content">
        <time datetime="{{term.start_date|date:"Y-m-d"}}" pubdate>{{term.start_date|date:"F d, Y"}}</time>
        <h1>{{ term.name|title}}</h1>
        <p class="desc">{{term.desc}}</p></header><div class="list_of_posts">
        <ul>
        {%for entry in term.posts.all%}
        <li>
        <a href="{{entry.urllink}}" 
            class="nostyle" title="{{entry.title|title}}:{{entry.desc}}">
            {{entry.title}}</a>
        </li>
        {%endfor%}
        </ul>
    </div>
</div>
{% endfor %}

<div class="more-posts">
  <div class="left">
    <a href="/">Most Recent</a><br>
    <span><a href="{{recent_entry.urllink}}">{{recent_entry.title|title}}</a></span>
  </div>
  <div class="right">
  </div>
</div>
{% endblock %}
